{% extends "base.html" %}

{% block contenido %}

<div class="container w-75 mt-4">
	<article>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales rhoncus ante eu semper. Cras sit amet quam quis mi tincidunt volutpat. Duis neque massa, porta quis mattis ac, faucibus at tellus. Ut augue diam, laoreet vitae aliquam eget, iaculis quis justo. Nullam egestas mi et nunc efficitur, et luctus dolor tempor. Fusce suscipit imperdiet dolor, quis pellentesque lorem mattis id. Maecenas placerat tellus eros, ac suscipit nisl auctor a. Sed eget blandit arcu. Vivamus dignissim nulla sit amet dolor facilisis convallis. Donec nec nisl enim. Maecenas tempus nec arcu quis dignissim.
		</p>

		<div class="d-flex justify-content-center mb-4">
			<img src="{{ url_for('static', filename='IMG/Extras/nosotros1.jpg') }}" alt="gente feliz">
		</div>

		<p>Integer mollis, mauris at gravida tincidunt, purus nisl accumsan sapien, quis luctus risus urna nec mi. Pellentesque dictum sagittis neque, suscipit varius arcu tristique eu. Sed ac quam eget ligula accumsan laoreet eu hendrerit enim. Suspendisse nec metus sit amet sem placerat scelerisque. Etiam lobortis felis nunc, non commodo enim commodo et. Donec sed varius magna. Sed porttitor nulla non purus viverra lacinia. Fusce auctor viverra blandit. Praesent eu urna a sem tincidunt fringilla et sit amet nisl. Vestibulum luctus turpis augue, sit amet tincidunt felis pellentesque nec. Nulla arcu sem, hendrerit eget pharetra at, condimentum sed nisi. Duis commodo, neque ac suscipit auctor, nibh ligula elementum augue, at pulvinar nisl sem non augue. Quisque mattis turpis nibh, sed sollicitudin justo facilisis vitae. Aenean a dui nec lorem fringilla imperdiet ultricies eget ipsum. Cras a purus mauris.
		</p>

		<p>
			Vivamus et hendrerit lorem. Maecenas molestie, tellus vel gravida fermentum, leo dolor placerat odio, in cursus arcu ante facilisis eros. Aliquam laoreet nec mi a pretium. Nullam et magna eget urna bibendum lobortis. Ut id velit nec est ornare scelerisque. Curabitur ultricies dolor quis ante faucibus pretium. Suspendisse potenti. Nulla lobortis maximus quam in rhoncus. Duis blandit mollis elementum. Aliquam id lobortis sem, eget hendrerit purus.
		</p>

	</article>
</div>

{% endblock %}