{% extends "base.html" %}

{% block style %}
<style type="text/css">

    h3{
        font-size: 3rem;
    }

    article{
        font-size: 1.5rem;
        word-spacing: .5rem;
    }

    .h30{
        height: 30rem;
    }

    .h60{
        height: 30rem;
    }

    @media (min-width: 576px) {
        .h60{
            height: 60rem;
        }
    }

    .R{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .R1{
        background-image: url("{{url_for('static', filename = 'IMG/Portal/R1.jpg')}}");
    }

    .R2{
        background-image: url("{{url_for('static', filename = 'IMG/Portal/R2.jpg')}}");
    }

    .R3{
        background-image: url("{{url_for('static', filename = 'IMG/Portal/R3.jpg')}}");
    }

    .button{
        width: 15rem;
        height: 3rem;
        margin: 0 auto;
        text-transform: uppercase;
    }

    .overflow{
        max-height: 75%;
        max-width: 100%;
        overflow: auto;
    }

</style>
{% endblock %}

{% block main %}

<div class="container my-sm-5">
  <div class="row">
    <div class="col-12 col-sm-8">
      <div class="row">
        <div class="col-12 col-sm-12 h30 p-3">
          <div class="w-100 h-100 R R1">
            <h3 class="text-white text-center p-3">Restaurante Lineal</h3>
            <div class="row d-flex align-items-end px-3 pt-5 overflow">
              <article class="col-12 col-sm-6 text-white">
                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
              </article>
              <button type="button" onclick="location.href='{{R1}}';" class="btn btn-outline-light col-12 col-sm-12 button mt-3 mt-sm-0">Ver restaurante</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 h30 p-3">
          <div class="w-100 h-100 R R2">
            <h3 class="text-white text-center p-3">Restaurante 2</h3>
            <div class="row d-flex align-items-end px-3 pt-5 overflow">
              <article class="col-12 col-sm-6 text-white">
                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
              </article>
              <button type="button" onclick="location.href='{{R2}}';" class="btn btn-outline-light col-12 col-sm-12 button mt-3 mt-sm-0">Ver restaurante</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 h60 p-3">
      <div class="w-100 h-100 R R3">
        <h3 class="text-white text-center p-3">Restaurante 3</h3>
        <div class="row px-3 pt-5 overflow">
          <article class="col-12 col-sm-12 text-white">
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
          </article>
          <button type="button" onclick="location.href='{{R3}}';" class="btn btn-outline-light col-12 col-sm-12 button mt-3 mt-sm-5">Ver restaurante</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}